#submitbox{
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: white;
    padding: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#submitbox input{
    padding: 8px 6px;
    width: 95%;
    border: none;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
}

#submitbox input:focus{
    border: 1px solid #5227CC;
    box-shadow: 0px 0px 2px 0px #5227CC;
}

.discription{
    padding: 8px 6px;
    width: 95%;
    border: none;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;

}


.discription:focus{
    border: 1px solid #5227CC;
    box-shadow: 0px 0px 2px 0px #5227CC;
}

.full{
    width: 95%;
}

.submitBtn{
    align-items:flex-start;
    padding: 10px 20px;
    border-radius: 5px;
    background: #5227CC;
    color: white;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.3s;
}

.submitBtn:hover{
    background: #6a40df;
}